#ant specific
MyNN/dist/
MyNN/build/

#netbeans specific
MyNN/core
MyNN/nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

#intellij
MyANN/.idea
MyANN/*.iml
